.appBar {
  box-shadow: 0 2px 3px rgba(0,0,0,.2);
  background: var(--color-white);
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
