* {
  font-family: var(--font-face);
  box-sizing: border-box;
}

body {
  color: var(--color-text);
  font-size: 1.1rem;
  padding-top: 64px;
}

:global {
  body.light {
    background: var(--color-grey);
  }

  body.dark {
    background: var(--color-very-dark-blue-background);
  }
}
