:root {
  --font-face: 'Nunito Sans', sans-serif;

  --color-dark-blue: hsl(209, 23%, 22%);
  --color-very-dark-blue-background: hsl(207, 26%, 17%);
  --color-very-dark-blue-text: hsl(200, 15%, 8%);
  --color-dark-gray: hsl(200, 15%, 8%);
  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey: rgb(242, 245, 250);
  --color-grey-2: #8c8c8c;
  --color-text: var(--color-dark-blue);
}
