.container {
  position: relative;
  margin-bottom: 30px;

  @media (--break-desktop) {
    margin-bottom: 0;
  }
}

.currentValue {
  padding: 20px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 6px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.1), 0 1px 3px 0 rgba(0,0,0,.08);
  transition: box-shadow .3s;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  color: inherit;
  cursor: pointer;

  & i {
    margin-left: 15px;
  }
}

.options {
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.1), 0 1px 3px 0 rgba(0,0,0,.08);
  border-radius: 6px;
  margin-top: 5px;
  display: none;
  position: absolute;
  width: 100%;
  min-width: 200px;
  right: 0;
}

.option {
  text-align: left;
  background: transparent;
  outline: none;
  border: none;
  padding: 20px 20px 0 20px;
  font-weight: 600;
  color: inherit;
  cursor: pointer;

  &:last-child {
    padding-bottom: 20px;
  }
}

.light {
  .currentValue,
  .options {
    background: var(--color-white);
  }
}

.dark {
  .currentValue,
  .options {
    background: var(--color-dark-blue);
    color: var(--color-white);
  }
}


.open {
  .options {
    display: flex;
  }
}

.left {
  .options {
    left: 0;
    right: initial;
  }
}

.right {
  .options {
    right: 0;
    left: initial;
  }
}

.bottom {
  .options {
    bottom: 65px;
    top: initial;
  }

  & .currentValue {
    & i {
      transform: rotate(180deg);  
    }
  }
}

.top {
  .options {
    top: 65px;
    bottom: initial;
  }
}
